.promo {
  position: relative;

  padding-top: 40px;
  padding-bottom: 146px;

  color: #ffffff;
  text-align: center;

  background-image: url("../../images/main-bg-1600.jpg");
  background-color: rgba(47, 50, 75, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promo::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(47, 50, 75, 0.85);
}

.promo__container {
  position: relative;
  z-index: 2;
}

.promo__header {
  margin-bottom: 114px;
}

.promo__title {
  max-width: 991px;
  margin: 0 auto;
  margin-bottom: 35px;

  font-size: 52px;
  line-height: 61px;
  font-weight: 900;
  opacity: 0.86;
}

.promo__description {
  max-width: 991px;
  margin: 0 auto;
  margin-bottom: 88px;

  font-size: 22px;
  line-height: 31px;
  opacity: 0.75;
}

.promo__button {

}

@media (max-width: 1239px) {
  .promo {
    background-image: url("../../images/main-bg-1024.jpg");
  }

  .promo__title {
    max-width: 690px;
    margin-bottom: 20px;

    font-size: 36px;
    line-height: 46px;
  }

  .promo__description {
    max-width: 620px;
    margin-bottom: 54px;

    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .promo {
    padding-bottom: 100px;
    background-image: url("../../images/main-bg-600.jpg");
  }

  .promo__header {
    margin-bottom: 74px;
  }

  .promo__title {
    max-width: 350px;

    font-size: 28px;
    line-height: 38px;
  }

  .promo__description {
    max-width: 520px;

    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 390px) {
  .promo__title {
    margin-bottom: 40px;
  }

  .promo__description {
    display: none;
  }
}
