.contact {
  position: relative;

  padding-top: 70px;
  padding-bottom: 70px;

  color: #ffffff;
  text-align: center;

  background-image: url("../../images/contact-bg-1600.jpg");
  background-color: rgba(47, 50, 75, 0.85);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: rgba(47, 50, 75, 0.85);
}

.contact__container {
  position: relative;
  z-index: 2;

  max-width: 602px;
  margin: 0 auto;
}

.contact__title {
  margin: 0;
  margin-bottom: 17px;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.contact__info {
  margin: 0;
  margin-bottom: 53px;

  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  opacity: 0.8;
}

.contact__form-item {
  width: 423px;
  margin: 0 auto;
  margin-bottom: 21px;
}

.contact__form-item:nth-child(3) {
  margin-bottom: 0;
}

.contact__input {
  display: block;
  width: 100%;
  padding: 8px 25px;

  font-size: 22px;
  line-height: 26px;
  color: #ffffff;

  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  outline: none;

  transition: 0.2s;
}

.contact__input:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
}

.contact__input::placeholder,
.contact__input:-ms-input-placeholder,
.contact__input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.contact__submit {
  display: inline-block;
  margin-top: 76px;
  padding: 0 38px;

  font-size: 20px;
  line-height: 48px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: lowercase;

  background-color: rgb(21, 169, 203);
  border: none;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);

  transition: 0.2s ease-out;
}

.contact__submit:hover,
.contact__submit:focus {
  background-color: rgb(234, 86, 52);
  box-shadow:  0 4px 25px rgba(234, 86, 52, 0.3);
}

.contact__submit:active {
  color: rgba(255, 255, 255, 0.4);
  background-color: rgb(200, 63, 33);
  box-shadow:  0 4px 25px rgba(200, 63, 33, 0.3);
}

.contact__agreement {
  margin: 0;
  margin-top: 32px;

  font-size: 20px;
  line-height: 23px;
}

.contact__agreement a {
  display: inline-block;
  color: #4a76ab;
  border-bottom: 1px solid #4a76ab;
  transition: 0.2s;
}

.contact__agreement a:hover,
.contact__agreement a:focus {
  color: #ea5634;
  border-bottom-color: #ea5634;
}

.contact__agreement a:active {
  color: #c83f21;
  border-bottom-color: #c83f21;
}

@media (max-width: 1239px) {
  .contact {
    background-image: url("../../images/contact-bg-1024.jpg");
  }
}

@media (max-width: 767px) {
  .contact {
    background-image: url("../../images/contact-bg-600.jpg");
  }

  .contact__container {
    padding: 0 20px;
  }

  .contact__form-item {
    width: 280px;
  }

  .contact__agreement {
    max-width: 330px;
    margin-right: auto;
    margin-left: auto;

    line-height: 28px;
  }
}
