.page-footer {
  padding-top: 45px;
  padding-bottom: 45px;

  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
  color: #ffffff;

  background-color: #2f324b;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.page-footer__copyright {
  width: 214px;
}

.page-footer__developer {
  margin: 0;
}

.page-footer__developer-link {
  color: #ffffff;
  transition: opacity 0.2s;
}

.page-footer__developer-link:hover,
.page-footer__developer-link:focus {
  opacity: 0.8;
}

.page-footer__developer-link:active {
  opacity: 0.4;
}

@media (max-width: 767px) {
  .page-footer {
    padding-bottom: 0;
  }

  .page-footer__container {
    justify-content: space-around;
    padding: 0;
  }

  .page-footer__developer {
    flex-basis: 100%;
    order: 1;
    margin-top: 45px;
    padding-top: 45px;
    padding-bottom: 45px;

    text-align: center;

    background-color: #2A2C3F;
  }
}
